@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Tenor+Sans&display=swap');

html {
  scroll-behavior : smooth;
}

body {
  background-color : #eeeeee;     /* whisper */
  font-family : Roboto;
  line-height : 1.5;
  margin: 0;        /* no margin */         
}

header {
  position : fixed;     /* to fix the header stable */
  width : 100%;     /* to cover entire width */
}

#header-img {
  background-image : url(https://coolbackgrounds.io/images/backgrounds/black/pure-black-background-f82588d3.jpg);
  background-size : cover;
}

#nav-bar {
  display : flex;
  flex-direction : row;  
  align-items : center;
  justify-content : space-between;
  padding : 5px;  
  height : 28px;
}

#logo { 
  font-size: 26px; 
  margin-left: 50px;
}

#logo a {
  text-decoration : none;
  color : white;  
}

#logo a:hover {
  font-weight: bolder;
}

#nav-bar-elements ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin-right : 50px;   
}

#nav-bar-elements li {
  font-size: 20px;
  margin: 0 20px;
}

#nav-bar-elements a {  
  color : white;
  text-decoration : none;    
}

#nav-bar-elements a:hover {
  font-weight: bolder;
}

#top {
  background-color : white;
}

#top-image {
  background-image : url(https://wallpaperaccess.com/full/1496231.jpg);
  background-size: cover;  
  background-attachment: fixed;
  height: 100vh;
  display : flex;
  align-items: center;
  justify-content: center;
}

#top-content { 
  background: rgba(10, 10, 10, 0.8);  
  padding : 5px 25px;
  border-radius : 50px;  
}

#top-content h1 {
  color : white;  
  font-size : 32px;
  font-family : 'Merienda'; 
}

#about {
  background-image : url(https://i.pinimg.com/originals/10/d7/20/10d720165f0f6340e7b960f498c4f55f.jpg);
  background-size : cover;
  display : flex;
  flex-direction : row;
  width : 100%;
}

#about-image {
  background-image : url(https://images.unsplash.com/photo-1492707892479-7bc8d5a4ee93?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFzaGlvbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80); 
  background-attachment : fixed; 
  background-size : contain; 
  max-width : 40%;
  height : 100vh;  
}

#about-us-title {
  background-color :#eeeeee;  
  width : 40%; 
  margin-left : 950px; 
  margin-top : 50px;
  margin-bottom : 40px;
  border-radius : 20px;  
}

#about-us-title h1 {
 text-align: center;
 font-size: 32px;
 padding : 5px;  
 font-family: 'Fredericka the Great';
}
  
#about-content { 
  background-color : white;
  font-size: 16px;  
  margin-left : 735px;  
  width : 100%;
  padding : 25px;
  text-align : justify;
  border-radius : 20px;
  margin-bottom: 30px;  
}


#about-content span {
  font-size: 23px;
  
}

#about-video {  
  margin-left : 810px; 
}

#meet-us {  
  display : flex;
  flex-direction: column;  
  background-image: url(https://wallpaperaccess.com/full/309094.jpg); 
  padding-bottom: 40px;
}

#meet-us-title {
  background-color: black;
  margin : 600px;
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding : -100px;  
}

#meet-us-title h1 {
  font-family: 'Fredericka the Great';
  color: #eeeeee;
  text-align: center;
  font-size: 38px;  
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.block {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
  justify-content: space-between;
  margin : 30px 50px;
  padding : 20px;
  width : 60%;
  height : 100%;
}

.block h2 {
  border-bottom: 1px solid black;
}

.content {
  text-align: justify;
  box-sizing: border-box;
  margin : 5px 30px;
  font-size: 18px;
}

#manufacturing, #logistics_and_transportation {
  align-self: flex-end;
} 

#contact {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/990/987/large_2x/makeup-brush-on-white-background-free-photo.jpg);
  background-size : cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: rgba(10, 10, 10, 0.8);
  height: 70%;
  width : 48%;
  margin-right : 95px;   
  border-radius: 50px;
  justify-content: center;
  align-items: center;    
}

#form h1 {
  color: #eeeeee;     
  text-align: center;  
  margin-bottom: 30px;
  margin-top : -20px;
  font-family: 'Fredericka the Great';
  font-size: 46px;
}

.inputs {
  background-color:#eeeeee ;
  width : 73%;
  font-size: 16px;
  font-family: Roboto;
  color: black;
  margin : 12px 0;
  padding : 8px;
  margin-left : 90px;   
  border-radius: 10px; 
}

#submit {
  width : 75%;
  height: 12%;
  margin-left: 90px;
  margin-top : 10px;
  border-radius: 10px;
  font-size : 20px;
  cursor: pointer;
} 

#submit:hover {  
  background-color: lightgrey;
}

#footer {
  display: flex;
  flex-direction: row;
  background-color: #282828;
  padding : 30px;  
  align-items: flex-start;
  justify-content: space-between;
  color: #eeeeee;
  font-size: 20px;
}

#footer li {
  list-style: none;
  margin-top : 5px;
}

#footer a {
  color: #eeeeee;
  text-decoration: none;
  font-size: 16px;
}

#copyright {
  padding-top : 200px;
}

#bottom-links {
  margin-left: 100px;  
}

#social-media {
 margin-right: 150px; 
}

#social-media p {
  text-align: right; 

}

#social-media ul {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;  
  margin-right: 40px;
}


#bottom-links a:hover {
  font-weight: bolder;
}

#social-media i:hover {
  transform: translate(0, -5px);
}